body {
    background-color: white !important;
}

.container {
    padding: 2% !important;
    background-color: black !important;
    color: whitesmoke !important;
    margin: 1%;
}

.navbar {
    padding-left: 2% !important;
    padding-right: 2% !important;
}

.main {
    padding: 2% !important;
}