@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #121212 !important;
}

.container {
    padding: 2% !important;
    background-color: whitesmoke !important;
    font-family: Poppins, sans-serif !important;
    margin: 1%;
}

.navbar {
    padding-left: 2% !important;
    padding-right: 2% !important;
}

.main {
    padding: 2% !important;
}